<section id="active-processes" class="extended home-section">
  <div class="wrapper-home">
    <div class="row column">
      <!-- <h3 class="section-heading"><%= t(".title") %></h3> -->
      <div class="text-center">
        <div class="row small-up-1 medium-up-<%= items.size %>">
          <% items.each do |item| %>
            <div class="column">
              <div class="card">
                <%= link_to item[:link_url] do %>
                  <%= image_tag item[:image_url] if item[:image_url] %>
                  <h3 class="heading3 card-header text-left ml-s" style="color: <%= item[:text_color] %>;"><%= item[:link_text] %></h3>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <%= button %>
      </div>
    </div>
  </div>
</section>
