<section id="active-processes" class="extended home-section bg-gray-6">
  <div class="wrapper-home py-16 px-4 md:px-6 lg:px-16">
    <div class="row column">
      <!-- <h3 class="section-heading"><%= t(".title") %></h3> -->
      <div class="flex flex-row items-center justify-center">
        <div class="flex md:flex-row gap-4 small-up-1 medium-up-<%= items.size %> flex-col">
          <% items.each do |item| %>
            <div class="column">
              <div class="card bg-transparent border-none">
                <%= link_to item[:link_url] do %>
                  <%= image_tag item[:image_url], class: "w-full h-auto" if item[:image_url] %>
                  <h3 class="card-header text-2xl leading-relaxed hover:underline mt-8 mb-8 text-left sm:ml-8 md:mt-4 md:mb-4 lg:mt-6 lg:mb-6 xl:mt-8 xl:mb-8" style="color: <%= item[:text_color] %>;"><%= item[:link_text] %></h3>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <%= button %>
      </div>
    </div>
  </div>
</section>
