<section id="active-processes" class="extended home-section">
  <div class="wrapper-home">
    <div class="row column">
      <h3 class="section-heading"><%= t(".title") %></h3>
      <div class="text-center">
        <div class="row small-up-1 medium-up-3">
          <% (1..3).each do |i| %>
            <div class="column">
              <div class="card">
                <%= link_to link_url(i) do %>
                  <% if (image_url = image_url_for(i)) %>
                    <%= image_tag image_url %>
                  <% end %>
                  <h3 class="heading3 card-header text-left ml-s" style="color: <%= text_color(i) %>;"><%= link_text(i)
                  %></h3>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <%= link_to button_text, button_url, class: "button hollow" %>
      </div>
    </div>
  </div>
</section>
