<section id="hero-<%= model.id %>" class="hero__container extended-hero" style="--hero-image:url('<%= background_image %>')" data-process-hero>
  <div class="hero">
    <h1 class="hero__title">
      <%= welcome_text.html_safe %>
    </h1>
    <h3 class="hero__subtitle">
      <%= subtitle_text.html_safe %>
    </h3>

    <%= render :cta_button %>
  </div>
</section>
